<div id="myClubView">

    <div id="viewHeader" class="row" style="margin: inherit">
        <div class="tblHead">
            <div class="col-md-12" style="padding: 5px 5px 5px 10px">
                <span>Mein Verein - Einstellungen</span>
            </div>
        </div>
    </div>

    <div id="clubNamePart" class="row" style="margin: inherit">
        <div class="col-md-6" style="padding: 15px 5px 5px 10px">
            <div>
                <label>
                    <span class="clubColor">Name des Vereins</span>
                </label>

            </div>
            <div data-bind="component: { name: 'editableText', params: { text:'TUS Binzen 1958 e.V.' } }"></div>
        </div>
    </div>

</div>

<script>
    require(['management/myClub/myClubViewModel'], function (viewModel) {
        viewModel.initializeView();
    });
</script>
