<div class="row" style="height: 100%">

    <div id="leftColumn" class="col-md-2">
        <div id="clubImage" class="row" style="margin-top: 15px" align="middle">
            <img id="imgClubLogo" src="/myclub/images/TUS.png" style="width: 75px; height: 75px">
        </div>
        <div id="navigation" data-bind="component: { name:'navigationMenu', params: { data: navigation } }">
        </div>
    </div>

    <div id="mainPart" class="col-md-10"
         style="border-left: 1px solid darkgray; margin-top: 15px; height: calc(100% - 30px); height: -moz-calc(100% - 30px)">

        <div id="pageHeader">

            <div class="row">
                <div id="clubName" class="col-md-8">
                    <h3 class="clubColor" style="margin-top: 5px; margin-bottom: 0">Tus Binzen 1956 e.V.</h3>
                </div>
                <div id="userInfo" class="col-md-4" align="right" data-bind="visible: authentication.loggedIn">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false"
                                style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px">
                            <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 5px"></span>
                            <span style="padding-right: 10px" data-bind="text: user.name"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="padding: 3px">
                            <li class="small">
                                <a href="#" style="padding: 2px 2px 2px 10px;">
                                    <span>Passwort ändern</span>
                                </a>
                            </li>
                            <li class="divider" style="margin-top: 3px; margin-bottom: 3px"></li>
                            <li class="small">
                                <a href="#" style="padding: 2px 2px 2px 10px; display: flex" data-bind="click: logOut">
                                    <div style="margin-top: 2px; padding: 0">
                                        <span class="glyphicon glyphicon-off"></span>
                                    </div>
                                    <div style="margin-left: 5px; margin-top: 1px; padding: 0">
                                        <span>Abmelden</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <hr class="devider" style="margin-top: 12px; margin-bottom: 10px">

        <div data-bind="visible: (global.loading() == true && global.loadingInfo() == true)" style="display: none;">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <label style="margin-left: 10px">laden...</label>
        </div>

        <div id="errorInfo" style="display: none"
             data-bind="component: { name:'errorInfo' }, visible: global.error"></div>

        <div data-bind="attr: { 'id': contentDom }, template: { afterRender: doInitialNavigation },
                        visible: (global.error() == false && global.loading() == false)"
             style="display: none; height: calc(100% - 55px); height: -moz-calc(100% - 55px); padding: 0;">
        </div>
    </div>
</div>