.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.nav-pills > li.active a {
    /*background-color: #3e8f3e;*/
    background-color: #c9302c;
}

.nav-pills > li.active a:hover {
    /*background-color: #4cae4c;*/
    background-color: #d43f3a;
}

.nav-pills > li.active a:focus {
    background-color: #c9302c;
}

.nav-pills > li a {
    color: darkred;
}