.nav-pills > li.active a {
    background-color: #c9302c;
}

.nav-pills > li.active a:hover {
    background-color: #c9302c;
}

.nav-pills > li.active a:focus {
    background-color: #c9302c;
}

.nav-pills > li a {
    color: darkred;
}

.navigation > h5 {
    color: dimgray;
    margin-bottom: 5px;
}

.clubColor {
    color: #c9302c;
}