.nav-pills > li.active a {
    background-color: navy;
}

.nav-pills > li.active a:hover {
    background-color: navy;
}

.nav-pills > li.active a:focus {
    background-color: navy;
}

.nav-pills > li a {
    color: navy;
}

.navigation > h5 {
    color: dimgray;
    margin-bottom: 5px;
}

.clubColor {
    color: navy;
}